* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px 0px;

}

.donation {
    background: linear-gradient(rgba(0, 0, 0, 0.856), rgba(23, 8, 75, 0.5)), url(images/f5ba20dd3485404181c0858285fd3ad4.jpeg);
    background-repeat: no-repeat;
    height: 75vh;
    background-size: 100% 100%;
}

.title {
    color: whitesmoke;
    text-align: center;
    padding: 5%;
    font-size: 50px;
}

.short {
    font-size: 25px;
    color: gold;
    text-align: justify;
    text-align: center;
}

.Ques {
    background-color: burlywood;
}

.info {
    color: black;
    font-size: 50px;
    text-align: center;

}

.cause {
    color: black;
    font-size: 25px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.mother {
    display: flex;
}

.box2 {
    width: 50%;
    display: inline-block;
    position: right;
    padding-top: 4%;

}

.box1 {
    width: 100%;
    display: inline-block;
    text-align: justify;
    padding-right: 2%;
}

.muslim {
    text-align: center;
    font-weight: bold;
    padding-left: 37%;
    font-size: 50px;
}

.situation {
    margin-left: 5%;
}

.condition {
    font-size: 50px;
    margin-left: 5%;
}

.help {
    display: flex;
    width: 80%;
    margin-left: 10%;

}

.p {
    width: 25%;
    text-decoration: none;
    background: linear-gradient(orange, red);
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px;
    border: 1px solid red;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}

.q {
    width: 25%;
    text-decoration: none;
    background: linear-gradient(orange, red);
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px;
    border: 1px solid red;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}

.r {
    width: 25%;
    text-decoration: none;
    background: linear-gradient(orange, red);
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px;
    border: 1px solid red;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}

.s {
    width: 25%;
    text-decoration: none;
    background: linear-gradient(orange, red);
    font-size: 25px;
    color: black;
    padding: 10px 10px 10px 10px;
    border: 1px solid red;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}

.header {
    font-size: 50px;
}

.g {
    font-size: 20px;
    width: 100px;
    height: 50px;
}

.h {
    font-size: 20px;
    width: 30%;
    height: 50px;
}

.w {
    text-align: center;
}

.donate {
    font-size: 40px;
    text-align: center;
    display: block;
}

.plan {
    display: flex;
    margin-left: 5%;
}

.d {
    width: 20%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #D7ECF2;
}

.e {
    width: 20%;
    display: inline-block;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F5D4D4;
}

.f {
    width: 20%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F3E6E7;
}

.foot {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #000A17;
    color: #FF6347;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

.lives {
    display: flex;
    margin-left: 3%;
}

.image {
    width: 25%;
}

.survive {
    width: 50%;
    margin-left: 10%;
    text-align: justify;

}

.t {
    font-size: 40px;
}